<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CS673: Quotes</title>
</head>

<body>
    <a th:href="@{/}" id="home">Back to Assignment Home</a>
    <h1>Quotes</h1>
    <form method="GET" th:action="@{/quotes/request}">
        <input type="submit" value="Display a quote">
    </form> </br>
    <div th:if="${quoteResponse.q} != null">
        <p>"<span th:text="${quoteResponse.q}"></span>"</br>
            <span th:if="${quoteResponse.a} != ''"> - </span>
            <span th:text="${quoteResponse.a}"></span>
        </p>
        <p>(If the requests get rate-limited just wait 30 seconds)</p>
        <p>Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a></p>
    </div>
</body>

</html>