<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CS673: Quotes</title>
</head>

<body>
    <a th:href="@{/}" id="home">Back to Assignment Home</a>
    <h1>Quotes</h1>
    <form method="GET" th:action="@{/quotes/request}">
        <input type="submit" value="Display a quote">
    </form> <br />
    <div th:if="${quoteResponse.quoteText} != null">
        <p>"<span th:text="${quoteResponse.quoteText}"></span>"<br />
            <span th:if="${quoteResponse.quoteAuthor} != ''"> - </span>
            <span th:text="${quoteResponse.quoteAuthor}"></span>
        </p>
    </div>
</body>

</html>